body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Global Styles */

.input-field fieldset{
  border-color: rgba(255,255,255,.7) !important;
}

.input-field input{
  color: #fff;
}

.input-field input::placeholder{
  color: rgba(255,255,255,.7);
}

.input-field .Mui-focused fieldset{
  border: 1px solid rgba(255,255,255,1) !important;
}

.input-field .MuiFormHelperText-root{
  margin-left:0;
  color:#fff !important;
}